<div class="bssir">

    <header class="bssir-hero">

        <div class="bssir-title">
            {{ title }}
        </div>

        <div class="bssir-subtitle">
            {{ subtitle }}
        </div>

        <div class="bssir-meta">
            {{ meta }}
        </div>

        <div class="bssir-description">
            {{ description }}
        </div>

    </header>

    <section class="bssir-section">

        <div class="bssir-section-header">
            <div class="bssir-section-title">
                Overview
            </div>

            <div class="bssir-section-subtitle">
                {{ overview_subtitle }}
            </div>
        </div>

        {{ summary }}

    </section>

    <section class="bssir-section">

        <div class="bssir-section-header">

            <div class="bssir-section-title">
                Status
            </div>

        </div>

        {{ report }}

    </section>

    <section class="bssir-section">

        <div class="bssir-section-header">

            <div class="bssir-section-title">
                Quick Start
            </div>

        </div>

        {{ quickstart }}

    </section>

    <footer class="bssir-footer">

        {{ footer }}

    </footer>

</div>